@(name: String)
@main("Hello") {
<section id="content">
    <div class="wrapper doc">
        <article>
            <h1>Hello @name!</h1>
            <p>(pssst if you want to see you're name, replace 'Unknown' in the URL with your name...)</p>
            <p>
                <button onclick="location.href = '/';"> Now let's get out of this shit page shall we and go back home</button>
            </p>
        </article>
        <aside>
            @commonSidebar()
        </aside>
    </div>
</section>
}