@main("Welcome") {
@defining(play.core.PlayVersion.current) { version =>

<section id="home-content">
  <div class="wrapper">
      <p>
        <button class="button" onclick="location.href = '/artists';">My Top Artists</button>
      </p>
      <p>
        <button class="button" onclick="location.href = '/tracks';">My Top Tracks</button>
      </p>
      <p>
        <button class="button" onclick="location.href = '/recommendations';">Recommend Me Tracks!</button>
      </p>
  </div>
</section>
}
}