@(artistIdForm: Form[ArtistId])(implicit messages: Messages)

@main("Welcome") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <div class="wrapper doc">
    <article>
      <p>
        <button onclick="location.href = '/my-top-artists';">My Top Artists</button>
      </p>
      <p>
        <button onclick="location.href = '/my-top-tracks';">My Top Tracks</button>
      </p>
      <p>
        @helper.form(action = routes.ApiCallController.getArtist("")) {
        @helper.inputText(artistIdForm("artistId"))
        <input type="submit" value="Search this artist">
        }
      </p>
      <p>
    </article>
    <aside>
      @commonSidebar()
    </aside>
  </div>
</section>
}
}